{% extends "layout.html" %}
{% block content %}
    <h1>News Feed</h1>
    <div class="news-items">
        {% for news_item in news_data %}
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ news_item.title  }}</a>
                <small class="text-muted">{{ news_item.time }}</small>
              </div>
              <h2><a class="article-title" href="#">{{ news_item.title }}</a></h2>
              <p class="article-content">{{ news_item.content }}</p>
            </div>
          </article>
        <!-- Display news items fetched from the server --> 
            <!--- <div class="news-item">
                <h2>{{ news_item.title }}</h2>
                <p>Posted on {{ news_item.time }} | Likes: {{ news_item.likes }} | Dislikes: {{ news_item.dislikes }}</p>
                Include other content related to news items
            </div> -->
        {% endfor %}
    </div>
{% endblock %}
