{% extends "layout.html" %}
{% block content %}
    <h1>News Feed</h1>
    <div class="news-items">
        {% for news_item in news_items %}
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <small class="text-muted">{{ news_item.time.strftime('%Y-%m-%d %H:%M:%S') }}</small>
              </div>
              <h2><a class="article-title" href="#">{{ news_item.title }}</a></h2>
              <p class="article-content">{{ news_item.content }}</p>
              <!-- Add Like and Dislike buttons -->
              <a href="{{ url_for('like', post_id=news_item.id) }}" class="btn btn-sm {{ 'btn-primary' if news_item.user_action == 'like' else 'btn-like' }}">Like</a>
              <a href="{{ url_for('dislike', post_id=news_item.id) }}" class="btn btn-sm {{ 'btn-primary' if news_item.user_action == 'dislike' else 'btn-dislike' }}">Dislike</a>
              <span>Likes: {{ news_item.likes }}</span>
              <span>Dislikes: {{ news_item.dislikes }}</span>
            </div>
          </article>
        {% endfor %}
    </div>
{% endblock %}
