{% extends "layout.html" %}
{% block content %}
    <h1>News Feed</h1>
    <div class="news-items">
        {% for news_item in news_items %}
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ news_item.title  }}</a>
                <small class="text-muted">{{ news_item.time.strftime('%Y-%m-%d %H:%M:%S') }}</small>
              </div>
              <h2><a class="article-title" href="#">{{ news_item.title }}</a></h2>
              <p class="article-content">{{ news_item.content }}</p>
            </div>
          </article>
        {% endfor %}
    </div>
{% endblock %}
